@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

//colors
$green: #59de09;
$greenDisabled: #b8d3a7;
$darkGreen: #3E5418;
$grey: #ececec;
$greyDarker: #d6d4d4;
$greyDisabled: #bdbdbd;
$white: #F6F6F6;
$red: #d58c8c;
$yellow: #d5d08c;

body{
    // background-color: $grey;
    // font-family: 'Righteous', cursive;
    // font-family: 'Dongle', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.css-1p3m7a8-multiValue{
    background-color: $grey;
}

.btn{
    background-color: $green;
    color: white;
    padding: 10px 20px;
    border: 5px solid $green;
    text-align: center;
    outline: none;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    background-color: $darkGreen;
    border: 5px solid $darkGreen;
}

a{
    text-decoration: none;
}

.editBtn{
    background-color: $yellow;
    color: white;
    border: 3px solid $yellow;
    text-align: center;
    outline: none;
}
.editBtn:hover{
    cursor: pointer;
}

.editBtn:active{
    background-color: $darkGreen;
    border: 3px solid $darkGreen;
}

.deleteBtn{
    @extend .editBtn;
    background-color: $red;
    border: 3px solid $red;
}

.activeBtn{
    @extend .editBtn;
    background-color: $green;
    border: 3px solid $green;
}

.input{
    display: block;
    width: 100%;
    padding: 10px;
    outline: transparent;
    border: none;
    margin-bottom: 10px;
    background-color: $grey;
    font-weight: 500;
}

.input:focus{
    background-color: $greyDarker;
}

.lbl{
    display: block;
    color: $darkGreen;
    font-weight: 500;
    font-family: 'Righteous', cursive;
}

.inputText{
    @extend .input;
}

.inputCheckbox{
    accent-color: $green;
    width: 15px;
    height: 15px;
}

.inputTextarea{
    @extend .input;
}

.inputNumber{
    width: 30%;
    @extend .input;
}

.err{
    color: red;
}

.checkbox-rect input[type="checkbox"] {
    display: none;
}
.checkbox-rect input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    margin-top: 20px;
    cursor: pointer;
    @extend .lbl;
}
.checkbox-rect input[type="checkbox"]:hover + label:hover {
    color: $green;
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
    background: $darkGreen;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
  .checkbox-rect input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
    width: 1.3em;
    height: 1.3em;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: $green;
}

.cursorNotAllowed:hover{
    cursor: not-allowed;
}


@media only screen and (max-width: 600px) {
    .err{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 500px) {
    .err{
        font-size: 0.8rem;
    }
}


@media only screen and (max-width: 400px) {
    .err{
        font-size: 0.7rem;
    }
}