@import './parent';

.footerWholeContainer{
    position: absolute;
    width: 100%;
    bottom: 0;
    
}

.footerContainer{
    height: 70px;
    background-color: $green;
    text-align: center;
}

.copyRightContainer{
    color: white;
}

.socialMediaContainer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



@media only screen and (max-width: 450px) {
    .footerContainer{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 400px) {
    .footerContainer{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 360px) {
    .footerContainer{
        font-size: 0.7rem;
    }
}

