@import './parent';

.logo{
    width: 70px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.loginHeaderBtn{
    @extend .btn;
    position: absolute;
    right: 20px;
    top: 20px;
}

.loginHeaderBtn:hover{
    color: white;
}

.prileBtnContainer{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 120px;
}

.profileHeaderBtnContainer{
    display: flex;
    justify-content: center;
}

.profileHeaderBtn{
    color: white;
    background-color: $green;
    border: 5px solid $green;
    text-align: center;
    font-size: 3rem;
}

.profileHeaderBtn:hover{
    border-bottom: 5px solid $darkGreen;
    cursor: pointer;
}

.profileHeaderBtn:active{
    background-color: $darkGreen;
    border: 5px solid $darkGreen;
}

.logOutBtn{
    position: relative;
    font-size: 1rem;
    z-index: 2;
}