@import './parent';

.logo{
    width: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.loginHeaderBtn{
    @extend .btn;
    position: absolute;
    right: 20px;
    top: 20px;
}

.loginHeaderBtn:hover{
    color: white;
}