@import './parent';


.homePagePhotoContainer2{
    position: relative;
    text-align: center;
}

.homePagePhoto2{
    width: 100%;
}

.homePageImg2, .homePageImg3, .homePageImg4{
    display: none;
}

.homePageTextAndButtonContainer2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homePageTextContainer2{
    font-size: 2rem;
    font-weight: 600;
    color: $darkGreen;
}

.homePageButtonsContainer2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.homePagePhotoBtn2{
    @extend .btn;
    width: 300px;
    margin: 10px;
    font-size: 1.2rem;
}

.homePagePhotoBtn2:hover{
    cursor: pointer;
}

.homePagePhotoBtn2:active{
    border: 5px solid $darkGreen;
    background-color: $darkGreen;
}

.homePagePhotoLoginBtn2{
    @extend .homePagePhotoBtn2;
    background-color: transparent;
    color: $green;
    font-weight: 700;
}

@media only screen and (max-width: 1100px) {
    .homePageTextContainer2{
        font-size: 1.2rem;
    }

    .homePagePhotoBtn2{
        width: 200px;
        margin: 10px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .homePageTextContainer2{
        font-size: 1rem;
    }

    .homePagePhotoBtn2{
        width: 200px;
        margin: 7px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 700px) {
    .homePagePhotoLoginBtn2{
        border: 2px solid $green;
    }

    .homePagePhoto2{
        display: none;
    }

    .homePageImg2{
        width: 100%;
        display: block;
    }

    .homePageTextContainer2{
        font-size: 0.9rem;
    }

    .homePagePhotoBtn2{
        width: 150px;
        margin: 5px;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 500px) {
    .homePageImg2{
        display: none;
    }

    .homePageImg3{
        width: 100%;
        display: block;
    }

    .homePagePhotoContainer2{
        margin-top: 80px;
    }
}


@media only screen and (max-width: 400px) {
    .homePageImg3{
        display: none;
    }

    .homePageImg4{
        width: 100%;
        display: block;
    }

    .homePageTextAndButtonContainer2{
        width: 250px;//dovde sam doso
    }


    .homePageTextContainer2{
        font-size: 0.9rem;
    }

    .homePagePhotoBtn2{
        width: 150px;
        margin: 5px;
        padding: 5px;
        font-size: 0.7rem;
        border: 2px solid $green;
    }

    .homePagePhotoBtn2:active{
        border: 2px solid $darkGreen;
    }
}