@import './parent';

.homePagePhotoContainer{
    position: relative;
    overflow: hidden;
    height: auto;
    z-index: 1;
    background-color: $grey;
}

.homePagePhoto{
    display: inline-block;
    width: 70%;
    height: auto;
}

.homePagePhotoGreenGradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(89,222,9);
    background: linear-gradient(90deg, rgba(89,222,9,1) 13%, rgba(255,255,255,0) 100%);
}


.homePagePhotoWhiteGradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%);
}

.homePagePhotoTextBtnContainer{
    position: relative;
    display: inline-block;
    z-index: 2;
    width: 30%;
    padding-left: 30px;
}

.homePagePhotoText{
    margin-top: 150px;
    font-size: 2rem;
    font-weight: 500;
    color: white;

}

.homePagePhotoBtn{
    font-size: 1.5rem;
    margin: 50px;
    color: $green;
    background-color: white;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    border: 5px solid white;
}

.homePagePhotoBtn:hover{
    border-bottom: 5px solid $darkGreen;
    cursor: pointer;
}

.homePagePhotoBtn:active{
    border: 5px solid $darkGreen;
    background-color: $darkGreen;
}