@import './parent';

.howItWorksItemContainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.howItWorksItem{
    background-color: $grey;
    display: inline-block;
    padding: 20px;
    border-radius: 25px;
    width: 300px;
    height: 250px;
    margin: 10px;
}

.stepperContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.stepper{
    width: 800px;
}

@media only screen and (max-width: 800px) {
    .howItWorksContainer{
        margin-top: 120px;
    }
    
    .howItWorksContainer2{
        margin-top: 30px;
    }

    .stepper{
        width: 600px;
    }
}

@media only screen and (max-width: 650px) {
    .howItWorksItem{
        font-size: 0.9rem;
        width: 250px;
    }

    .stepper{
        width: 400px;
    }
}

@media only screen and (max-width: 450px) {
    .stepper{
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .howItWorksContainer{
        margin-top: 90px;
    }
}

@media only screen and (max-width: 350px) {
    .stepper{
        width: 250px;
    }
}

@media only screen and (max-width: 360px) {
    .howItWorksItem{
        font-size: 0.8rem;
        width: 230px;
        height: 220px;
    }
}
