@import './parent';

.loginContainerAll{
    margin: 120px 0;
}

.loginTitle{
    @extend .title;
}

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.loginForm{
    width: 300px;
    height: 100%;
}

.loginRegisterInfo{
    font-size: 0.8rem
}

.loginFormLbl{
    @extend .lbl;
}

.loginFormInput{
    @extend .inputText;
}

.loginBtn{
    @extend .btn;
    margin: 20px 0;
    width: 100%;
}

.loginBtn:hover{
    color: white;
}


@media only screen and (max-width: 400px) {
    .loginTitle{
        font-size: 1.2rem;
    }

    .loginFormInput{
        height: 2.2em;
        margin-bottom: 1.3rem;
        font-size: 1rem;
    }

    .loginFormLbl{
        font-size: 0.9rem;
    }

    .loginBtn{
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}


@media only screen and (max-width: 350px) {   
    .loginContainerAll{
        margin: 120px 20px;
    }

    .loginFormInput{
        height: 2.3em;
        font-size: 0.9rem;
    }
}