@import './parent';

.mealCardContainer{
    display: inline-block;
    width: 300px;
    border-radius: 25px;
    // border: 5px solid $green;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.mealCardContainer:hover{
    transform: scale(1.1);
    // cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.5) 0px 15px 12px;
}

.mealCardPhoto{
    width: 50px;
    border: 5px solid red;
}

.mealCardLoaderImage{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mealCardDescriptionContainer{
    padding: 10px 20px;
    width: 100%;
}

.mealCardTitle{
    font-weight: bold;
    font-size: larger;
}

.mealCardTagContainer{
    width: 100%;
}

.mealCardTag{
    background-color: $grey;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 0.7rem;
    display: inline-block;
}

.image-gallery-slides {
    border-radius: 20px;
    // border-radius: 25px;
}

.image-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mealCardDescriptionFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mealCardKcalTime{
    font-weight: 500;
    display: flex;
    align-items: center;
}

.mealCardDescriptionAddMealToOrder{
    @extend .activeBtn;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 100px;
    margin-top: 5px
}

.mealCardDescriptionAddMealToOrderDisabled{
    border: 3px solid $greenDisabled;
    background-color: $greenDisabled;
}

.mealCardDescriptionAddMealToOrderDisabled:hover{
    cursor: not-allowed;
}

.mealCardDescriptionAddMealToOrderDisabled:active{
    border: 3px solid $greenDisabled;
    background-color: $greenDisabled;
}


.mealCardDescriptionRemoveMealToOrder{
    @extend .deleteBtn;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 3px;
    margin-top: 5px
}

.MealCardDescriptionBtnText{
    margin-right: 3px;
}

@media only screen and (max-width: 840px) {
    .mealCardContainer{
        width: 250px;
        margin: 20px;
    }

    .mealCardTitle{
        font-size: 0.9rem;
    }

    .mealCardDescriptionContainer{
        padding: 10px;
    }

    .mealCardDescription{
        font-size: 0.9rem;
    }

    .mealCardTag{
        font-size: 0.6rem;
    }

    .mealCardKcalTime{
        font-size: 0.8rem;
    }

    .mealCardDescriptionAddMealToOrder{
        width: 80px;
    }

    .mealCardDescriptionRemoveMealToOrder{
        width: 80px;
    }

    .MealCardDescriptionBtnText{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 700px) {
    .mealCardContainer{
        width: 400px;
        margin: 20px;
    }

    .mealCardTitle{
        font-size: 0.9rem;
    }

    .mealCardDescriptionContainer{
        padding: 10px;
    }

    .mealCardDescription{
        font-size: 0.9rem;
    }

    .mealCardTag{
        font-size: 0.6rem;
    }

    .mealCardKcalTime{
        font-size: 0.8rem;
    }

    .mealCardDescriptionAddMealToOrder{
        width: 80px;
    }

    .mealCardDescriptionRemoveMealToOrder{
        width: 80px;
    }

    .MealCardDescriptionBtnText{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    .mealCardContainer{
        width: 100%;
        margin: 20px 0;
    }

    .mealCardTitle{
        font-size: 0.9rem;
    }

    .mealCardDescriptionContainer{
        padding: 10px;
    }

    .mealCardDescription{
        font-size: 0.9rem;
    }

    .mealCardTag{
        font-size: 0.6rem;
    }

    .mealCardKcalTime{
        font-size: 0.8rem;
    }

    .mealCardDescriptionAddMealToOrder{
        width: 80px;
    }

    .mealCardDescriptionRemoveMealToOrder{
        width: 80px;
    }

    .MealCardDescriptionBtnText{
        font-size: 0.8rem;
    }
}