@import './parent';

.plannerAddressContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.addressOrderContainer{
    border-left: 5px solid $green;
    padding: 50px;
    margin: 50px 50px 50px 0;
    width: 300px;
}

.addressaddressForm{
    width: 400px;
    height: 100%;
}

.addressFormContainer{
    margin-right: 30px;
    width: 400px;
}

.addressOrderInformationContainer{
    width: 400px;
    margin-left: 30px;
}

.orderInformationItemContainer{
    display: block;
    margin: 10px 0;
}

.orderInformationItemPrice{
    display: inline;
    float: right;
}

.orderInformationItemPriceTotal{
    font-weight: bold;
    display: inline;
    float: right;
}

.orderInformationItemTitle{
    display: block;
    font-weight: bold;
}

.orderInformationItemPlan{
    display: inline;
}

.orderInformationItemTitleInline{
    display: inline;
    font-weight: bold;
}

@import './parent';

.addressContainerAll{
    margin: 120px 0;
}

.addressTitle{
    text-align: center;
    color: $darkGreen;
    margin: 0;
}

.addressContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.addressForm{
    width: 300px;
    height: 100%;
}

.addressFormLbl{
    display: block;
}

.addressFormInput{
    display: block;
    width: 100%;
    height: 2.5em;
    outline: transparent;
    border: 2px solid $darkGreen;
    padding: 5px 5px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.addressFormInput:focus{
    outline: 2px solid $green;
    border: 2px solid $green;
}

.addressBtn{
    margin: 20px 0;
    width: 100%;
}