@import './parent';

.plannerAddressTitle{
    text-align: center;
    color: $darkGreen;
    margin: 0;
}


.plannerAddressContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.addressOrderContainer{
    border-left: 5px solid $green;
    padding: 50px;
    margin: 50px 50px 50px 0;
    width: 300px;
}

.addressOrderInformationContainer{
    width: 400px;
    margin-left: 30px;
}

.orderInformationItemContainer{
    display: block;
    margin: 10px 0;
}

.orderInformationItemPrice{
    display: inline;
    float: right;
}

.orderInformationItemPriceTotal{
    font-weight: bold;
    display: inline;
    float: right;
}

.orderInformationItemTitle{
    display: block;
    font-weight: bold;
}

.orderInformationItemPlan{
    display: inline;
}

.orderInformationItemTitleInline{
    display: inline;
    font-weight: bold;
}

.addressContainerAll{
    margin: 120px 0;
}

.addressContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.addressForm{
    width: 400px;
    height: 100%;
}

.addressFormLbl{
    @extend .lbl;
}

.addressFormInput{
    @extend .inputText;
}

.addressBtn{
    @extend .btn;
    margin: 20px 0;
    width: 100%;
}

.addressBtn:hover{
    color: white;
}

@media only screen and (max-width: 700px) {
    .plannerAddressTitle{
        font-size: 1.5rem;
    }

    .addressFormLbl{
        font-size: 0.9rem;
    }

    .addressFormInput{
        height: 2.3em;
        margin-bottom: 1.3rem;
        font-size: 1rem;
    }

    .addressBtn{
        margin: 20px 0;
        width: 100%;
        padding: 5px;
    }
}
@media only screen and (max-width: 600px) {
    .addressForm{
        width: 300px;
    }
}

@media only screen and (max-width: 500px) {
    .plannerAddressTitle{
        font-size: 1.2rem;
    }

    .addressFormLbl{
        font-size: 0.8rem;
    }

    .addressFormInput{
        height: 2.1em;
        margin-bottom: 1.1rem;
        font-size: 0.9rem;
    }

    .addressBtn{
        margin: 20px 0;
        width: 100%;
        padding: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .plannerAddressTitle{
        font-size: 1rem;
    }
    
    .addressForm{
        width: 250px;
    }

    .addressBtn{
        font-size: 0.8rem;
    }
}
