@import './parent';

.plannerRegisterTitle{
    text-align: center;
    color: $darkGreen;
    margin: 0;
}

.plannerRegisterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plannerRegisterForm{
    width: 500px;
    height: 100%;
}

.plannerRegisterPhoto{
    width: 500px;
}

.plannerRegisterFormLbl{
    display: block;
}

.plannerRegisterFormInput{
    display: block;
    width: 70%;
    height: 2.5em;
    outline: transparent;
    border: 2px solid $darkGreen;
    padding: 5px 10px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.plannerRegisterFormInput:focus{
    outline: 2px solid $green;
    border: 2px solid $green;
}

.plannerRegisterBtn{
    @extend .btn;
    margin: 20px 0;
    width: 70%;
}