@import './parent';

.registerContainerAll{
    margin: 120px 0;
}

.registerTitle{
    text-align: center;
    color: $darkGreen;
    margin: 0;
    font-weight: bold;
}

.registerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.registerForm{
    width: 300px;
    height: 100%;
}

.registerFormLbl{
    @extend .lbl;
}

.registerFormTermsLbl{
    @extend .registerFormLbl;
    display: inline-block;
    margin-left: 5px
}

.registerFormInput{
    @extend .inputText;
}

.registerFormInputCheckbox{
    @extend .inputCheckbox;
}

.registerBtn{
    @extend .btn;
    margin: 20px 0;
    width: 100%;
}

.registerBtnDisabled{
    @extend .registerBtn;
}

.registerBtnDisabled:hover{
    cursor: not-allowed;
}

.registerLoginInfo{
    font-size: 0.8rem;
}


@media only screen and (max-width: 400px) {
    .registerTitle{
        font-size: 1.2rem;
    }

    .registerFormInput{
        height: 2.2em;
        margin-bottom: 1.3rem;
        font-size: 1rem;
    }

    .registerFormLbl{
        font-size: 0.9rem;
    }

    .registerBtn{
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}


@media only screen and (max-width: 350px) { 
    .registerTitle{
        font-size: 1rem;
    }
    
    .registerContainerAll{
        margin: 120px 20px;
    }

    .registerFormInput{
        height: 2.3em;
        font-size: 0.9rem;
    }
}