@import './parent';

.tagCardBody{
    border-radius: 20px;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagCardContainer{
    display: inline-block;
    margin: 10px;
}

.tagCardName{
    text-align: center;
    margin: 10px;
    color: $darkGreen;
    font-weight: bold;
}

.tagCardChecked, .tagCardBody:hover{
    outline: 5px solid $green;
    cursor: pointer;
}

.tagCardNameChecked{
    color: $green;
}