@import './parent';

.tagCardBody{
    border-radius: 20px;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagCardContainer{
    display: inline-block;
    margin: 10px;
}

.tagCardName{
    text-align: center;
    margin: 10px;
    color: $darkGreen;
    font-weight: bold;
}

.tagCardChecked, .tagCardBody:focus{
    outline: 5px solid $green;
    cursor: pointer;
}

.tagCardNameChecked{
    color: $green;
}


.tagCardBody:hover{
    cursor: pointer;
}

.tagCardNameDisabled{
    color: $greyDisabled;
}

.tagCardBodyDisabled:focus{
    cursor: not-allowed;
    outline: none;
}


.tagCardBodyDisabled:hover{
    cursor: not-allowed;
}

@media only screen and (max-width: 1000px) {
    .tagCardName{
        font-size: 0.9rem;
    }

    .tagCardChecked, .tagCardBody:focus{
        outline: 4px solid $green;
    }
}

@media only screen and (max-width: 500px) {
    .tagCardName{
        font-size: 0.8rem;
        margin: 7px;
    }

    .tagCardChecked, .tagCardBody:focus{
        outline: 3px solid $green;
    }

    .tagCardContainer{
        margin: 7px;
    }
}

@media only screen and (max-width: 400px) {
    .tagCardName{
        font-size: 0.7rem;
    }
}